/* nav bar CSS */
#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #7F6766;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
}

@media screen and (max-width: 400px) {
  #nav-bar .header {
    font-size: 100%;
  }
}

button.toggle {
  display: inline-block;
  background-color: #ffffff;
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  float: right;
  height: 60px;
  width: 120px;
  color: #000000;
  font-size: 20px;
  outline: 0;
}

button.toggle:hover {
  display: inline-block;
  background-color: #ffffff;
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  float: right;
  height: 60px;
  width: 120px;
  color: #000000;
  font-size: 20px;
  outline: 0;
}

button.down {
  display: inline-block;
  background-color: #E8FDFF;
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  float: right;
  height: 60px;
  width: 120px;
  color: #00a087;
  font-size: 20px;
  outline: 0;
}

.page-head {
  display: block;
  font-size: 1.5em;
  color: #e8fdff;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  background-color: #f6be61;
}

main {
  max-width: 500px;
  padding: 10px 0;
  background-color: white;
  margin: auto;
  margin-top: 50px;
}

.eventForm {
  padding: 40px;
  background-color: white;
  display: grid;
  max-width: 500px;
  grid-row-gap: 40px;
  grid-template-columns: 10% 90%;
  margin: 0 auto;
  box-shadow: 5px 10px 18px #888888;
}

#event input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid orange;
  word-wrap: break-word;
}

#event input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  padding: 10px;
  font-size: 20px;
  line-height: 3;
  font-family: "Times New Roman", Times, serif;
}

#event i {
  color: gray;
}

.create-event {
  /* display: inline-block; */
  /* background-color: #ffffff; */
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  /* float: inherit; */
  height: 60px;
  width: 170px;
  color: #000000;
  font-size: 20px;
  outline: 0;
}

.create-event:hover {
  /* display: inline-block; */
  /* background-color: #ffffff; */
  border: solid black 1px;
  border-radius: 5px;
  margin: 10px;
  /* float: inherit; */
  height: 60px;
  width: 170px;
  color: #000000;
  background-color: #df9885;
  font-size: 20px;
  outline: 0;
}

td.down {
  background-color: #df9885;
}

body {
  background-color: #df9885;
}

body h1 {
  color: #244751;
}
