
.page-head {
  display: block;
  font-size: 1.5em;
  color: #e8fdff;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  background-color: #df9885;
}

main {
  max-width: 450px;
  padding: 10px 0;
  background-color: white;
  margin: auto;
  margin-top: 50px;
}

// .create-event {
//   /* display: inline-block; */
//   /* background-color: #ffffff; */
//   border: solid black 1px;
//   border-radius: 5px;
//   margin: 10px;
//   /* float: inherit; */
//   height: 60px;
//   width: 170px;
//   color: #000000;
//   font-size: 20px;
//   outline: 0;
// }

// .create-event:hover {
//   /* display: inline-block; */
//   /* background-color: #ffffff; */
//   border: solid black 1px;
//   border-radius: 5px;
//   margin: 10px;
//   /* float: inherit; */
//   height: 60px;
//   width: 170px;
//   color: #000000;
//   background-color: #df9885;
//   font-size: 20px;
//   outline: 0;
// }