/* nav bar CSS */

#nav-bar {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7F6766;
    color: #e8fdff;
    padding: 0 2em;
    z-index: 1;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar .header {
    float: left;
    font-size: 200%;
    line-height: 80px;
}

@media screen and (max-width: 400px) {
    #nav-bar .header {
    font-size: 100%;
    }
}

button.toggle {
    display: inline-block;
    background-color: #ffffff;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px;
    float: right;
    height: 60px;
    width: 120px;
    color: #000000;
    font-size: 20px;
    outline: 0;
}

button.toggle:hover {
    display: inline-block;
    background-color: #ffffff;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px;
    float: right;
    height: 60px;
    width: 120px;
    color: #000000;
    font-size: 20px;
    outline: 0;
}

button.down {
    display: inline-block;
    background-color: #E8FDFF;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px;
    float: right;
    height: 60px;
    width: 120px;
    color: #00a087;
    font-size: 20px;
    outline: 0;
}