
body {
  background-color: #df9885;
  font-family: 'Raleway', sans-serif;

  h1 {
    color: #E2F0B9;
    font-family: 'Nunito', sans-serif;
  }

  h3, h4, h5, h6 {
    padding: 10px;
    font-family: 'Nunito', sans-serif;
  }

  h3.date {
    padding: 5px;
    font-size: 18px;
    color: #0D6381;
  }

  div.time-div {
    padding:
  }

  .bg-dark {
    background-color: #0D6381 !important;
  }

  .theme-light {
    color: #f5f1d1;
  }

  .theme-med {
    color: #aebdc0;
  }

  .theme-dark {
    color: #0d6381;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0 !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  input::placeholder {
    font-family: 'Raleway', sans-serif !important;
  }

  .form-group {
    margin-bottom: 0.5rem !important;
  }

  .text-primary {
  color: #0d6381 !important;
  font-family: 'Nunito', sans-serif;
  }

}
