body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.eventForm {
  padding: 40px;
  background-color: white;
  display: grid;
  max-width: 500px;
  grid-row-gap: 40px;
  grid-template-columns:10% 90%;
  margin: 0 auto;
  box-shadow: 5px 10px 18px #888888;
}
#event input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid orange;
  word-wrap: break-word;
}
#event input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  padding: 10px;
  font-size: 20px;
  line-height: 3;
  font-family: "Times New Roman", Times, serif;
}
#event i{
  color: gray;
}